@mixin flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin transform-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
